<ion-header>
  <ion-toolbar>
    <ion-title>Menu Utama</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row >
    <ion-col>
      <div>
        <ion-card-title  class="ion-text-center">APLIKASI SCAN KANTONG BC1.1</ion-card-title>
      </div>
      
    </ion-col>

  </ion-row>
  
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4" >
        <div class="ion-text-start" >
          <h3><ion-img  src="assets/kantong.jpg" routerLink="/cekkantong"></ion-img>
          </h3>
        </div>
      </ion-col>
      <ion-col size="5">
        <div class="ion-text-end">
          
          <h3><ion-img  src="assets/upload.png" ></ion-img>
          </h3>

        </div>
      </ion-col>
      
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <div class="ion-text-justify">
          <h3><ion-img  src="assets/pembesar.png" routerLink="/pembesar"></ion-img></h3>
        
          
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-text-wrap">
          <h3><ion-img  src="assets/logout.jpg" ></ion-img></h3>
         
        </div>
      </ion-col>
     
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          <h3>Petugas : CECEP SUDARAJAt
          </h3>
          <h3>id kantor : 19000</h3>
        </div>
      </ion-col>
    </ion-row>
   
  </ion-grid>
</ion-content>
<ion-footer >
  <ion-item >      
      <ion-datetime displayFormat="MM-DD-YYYY HH:mm:ss" disabled value="07-18-2020" display-timezone="utc"></ion-datetime>

  </ion-item>
</ion-footer>
