<ion-header>
  <ion-toolbar>
    <ion-row >
      <ion-col size="1.2" >
        <div  >
          <ion-img  src="assets/cekkantong.png"></ion-img>
        </div>
      </ion-col>
      <ion-col >
        <div class="ion-text-end">
          
          <ion-title>ENTRI KANTONG</ion-title>
        </div>
      </ion-col>
      
    </ion-row>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <ion-item>
            <ion-label>No Pos : </ion-label>
            <ion-input type="number" disabled></ion-input>
          </ion-item>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <ion-item>
            <ion-label>koli : </ion-label>
            <ion-input type="number"  disabled></ion-input>
          </ion-item></div>
      </ion-col>
      <ion-col>
        <div class="ion-text-center">
          <ion-item>
            <ion-label>asal : </ion-label>
            <ion-input type="number"  disabled></ion-input>
          </ion-item></div> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          <ion-item>
            <ion-label>AWB : </ion-label>
            <ion-input type="number"  disabled></ion-input>
          </ion-item>
        </div>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          <ion-item>
            <ion-label>No Kantong : </ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </div>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          <ion-item>
            <ion-label>Berat (Kg) : </ion-label>
            <ion-input type="number"></ion-input>
            <ion-label>, : </ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </div>
      </ion-col>
      
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        <div>
          <Ion-button expand="half" color="primary" routerLink="/menu">Save</Ion-button>
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          <Ion-button expand="half" color="primary">Clear</Ion-button>
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          <Ion-button expand="half" color="primary">Close</Ion-button>
        </div>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-justify">
           
              <p>Daftar Kantong :</p>
              <ion-item>
                <ion-textarea rows="6" cols="20" ></ion-textarea>
  
              </ion-item>            
          </div>
        </ion-col>
        
      </ion-row>
      
  </ion-grid>
  <ion-footer class="ion-no-border">
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <ion-item>
            <ion-label>Kounter : </ion-label>
            <ion-input type="number" ></ion-input>
          </ion-item>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <ion-item>
            <ion-label>Jml.Kantong : </ion-label>
            <ion-input type="number" ></ion-input>
          </ion-item></div>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-content>
