<ion-header>
  <ion-toolbar>
    <ion-row >
      <ion-col size="1.2" >
        <div  >
          <ion-img  src="assets/pembesar.png"></ion-img>
        </div>
      </ion-col>
      <ion-col >
        <div class="ion-text-end">
          
          <ion-title>CEK KANTONG</ion-title>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-item>
      <ion-label >No Kantong: </ion-label>
      <ion-input type="Number"></ion-input>
    </ion-item>
  </ion-row>
  <h3></h3>
  <ion-row class="ion-justify-content-center">
    <ion-col size="3">
      <div>
        <Ion-button expand="half" color="primary" routerLink="/menu">Cek</Ion-button>
      </div>
    </ion-col>
    <ion-col size="3">
      <div>
        <Ion-button expand="half" color="primary">Close</Ion-button>
      </div>
    </ion-col>
    
    </ion-row>
    <ion-item>
      <ion-textarea rows="20" cols="20" ></ion-textarea>

    </ion-item> 
</ion-content>
